@extends(../logged_in.html)

@set(title = "FrameBuff")
@import models.UserVideo
@import models.Video
@args String who
@args Integer i
@args List<UserVideo> userVideoes
@{i=0}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1 id="timeline">Hello @who!</h1>
            </div>
            <ul class="timeline">
            @for (UserVideo userVideo: userVideoes){
                @args Video video
                @{ video = userVideo.getVideo() }
                <li class="@if(i%2==1){timeline-inverted} @{i++}">
                    <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="@userVideo.getWatchDate()" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img class="img-responsive" src="/images/movies/posters/@(video.getVideoId()).png" />

                        </div>
                        <div class="timeline-body">
                            <h4>@video.getTitle()</h4>
                            <p>@video.getSynopsis()</p>

                        </div>

                        <div class="timeline-footer">
                            <a><i class="glyphicon glyphicon-thumbs-up">@userVideo.getRating() </i></a>
                            <a><i class="glyphicon glyphicon-share"></i></a>
                            <a class="pull-right">see-more</a>
                        </div>
                    </div>
                </li>
                }  

                <li class="clearfix" style="float: none;"></li>
            </ul>
        </div>
    </div>
</div>