@extends(../logged_in.html)

@set(title = "FrameBuff")
@import models.*
@import common.CommonSQL
@import common.Util
@args {
    String who
    Integer i
    Map<String, Map<String, Long>> tape
    List<UserVideo> userVideoes
    List<UserVideo> update
}
@{i=0}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="userTitle" style="margin-left:10%;">Hello @who!</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-success panel-zero" style="margin-top:20px;">
                <div class="panel-heading panel-zero">
                    <h3 class="panel-title">Update Movies!</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="What're you watching?">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                </div>
            </div>
            <hr>
            <h1>Updates from friends </h1>
            
            @for(UserVideo userVideo: update){
            <div class="qa-message-list" id="wallmessages">
                    <div class="message-item" id="m16">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="avatar pull-left"><a href="/video/@userVideo.getVideo().getVideoId()"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
                                <div class="user-detail">
                                    <h5 class="handle">
                                    @{
                                        Users user = CommonSQL.getUserByUserId(userVideo.getUserId());
                                    }
                                    @user.getFirstName() @user.getLastName()
                                    @if (userVideo.getWatch() == "watched"){
                                        has watched
                                        }
                                        else if(userVideo.getWatch() == "watching"){
                                        is watching
                                        }
                                        else {
                                            wants to watch
                                            }
                                     <a href="/video/@userVideo.getVideo().getVideoId()">@userVideo.getVideo().getTitle()</a></h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                                            <span class="qa-message-when">
                                                <span class="qa-message-when-data">
                                                @Util.getTimeAgo(userVideo.getWatchDate().getTime())
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="qa-message-content">
                                   Yo!
                                </div>
                            </div>
                    </div></div>
                        
                </div>
                }
            
            <hr>
        </div>
        <div class="col-md-4" style="border-left:2px solid #f4f4f4;">
            <div class="panel panel-success panel-zero" style="margin-top:20px;">
                <div class="panel-heading panel-zero">
                    <h3 class="panel-title">Your Tapes</h3>
                </div>
                <div class="panel-body">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#movies" data-toggle="tab">Movies</a>
                            </li>
                            <li>
                                <a href="#tvs" data-toggle="tab">TV Shows</a>
                            </li>
                            <li>
                                <a href="#others" data-toggle="tab">Others</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="movies">
                                <b>Watching:</b> <a href="#">@tape.get("1").get("watching")</a><hr>
                                <b>Watched:</b> <a href="#">@tape.get("1").get("watched")</a><hr>
                                <b>Want to Watch:</b> <a href="#">@tape.get("1").get("want")</a>
                            </div>
                            <div class="tab-pane" id="tvs">
                                <b>Watching:</b> <a href="#">@tape.get("2").get("watching")</a><hr>
                                <b>Watched:</b> <a href="#">@tape.get("2").get("watched")</a><hr>
                                <b>Want to Watch:</b> <a href="#">@tape.get("1").get("want")</a>
                            </div>
                            <div class="tab-pane" id="others">
                                <b>Watching:</b> <a href="#">@tape.get("3").get("watching")</a><hr>
                                <b>Watched:</b> <a href="#">@tape.get("3").get("watched")</a><hr>
                                <b>Want to Watch:</b> <a href="#">@tape.get("3").get("want")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="panel panel-success panel-zero" style="margin-top:20px;">
                <div class="panel-heading panel-zero">
                    <h3 class="panel-title">Recently Watched</h3>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">The Dark Knight</a>  
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="img-responsive img-thumbnail" src="/images/movies/posters/1.png">
                            </div>
                            <div class="col-xs-9">
                                5 Stars
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">View Review</a>
                            </div>
                            <div class="col-md-6">
                                2 hours ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>