@import models.*;
@import common.CommonSQL
@import common.Util
@args List<UserVideo> update

@for(UserVideo userVideo: update){
            <div class="qa-message-list" id="wallmessages">
                    <div class="message-item" id="m16">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="avatar pull-left"><a href="/video/@userVideo.getVideo().getVideoId()"><img src="/images/movies/posters/@(userVideo.getVideo().getVideoId()).jpg" class="img img-responsive" height="50%" width="50%"></a></div>
                                <div class="user-detail">
                                    <h5 class="handle">
                                    @{
                                        Users user = CommonSQL.getUserByUserId(userVideo.getUserId());
                                    }
                                    <a href="/user/@user.getUserId()">@user.getFirstName() @user.getLastName()</a>
                                    @if (userVideo.getWatch() == "watched"){
                                        has watched
                                        }
                                        else if(userVideo.getWatch() == "watching"){
                                        is watching
                                        }
                                        else {
                                            wants to watch
                                            }
                                     <a href="/video/@userVideo.getVideo().getVideoId()">@userVideo.getVideo().getTitle()</a></h5>
                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                                            <span class="qa-message-when">
                                                <span class="qa-message-when-data">
                                                @Util.getTimeAgo(userVideo.getWatchDate().getTime())
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="qa-message-content">
                                   @userVideo.getReview();
                                </div>
                            </div>
                    </div></div>
                        
                </div>
                }