@extends(../logged_in.html)

@set(title = "FrameBuff: Discuss")

@section("jslinks")
{
    <script src="/js/chat.js"></script>
    <script>
    $(".videoTitle").each(function (i, obj){
    	var html  = $(this).html();
    	var truncate = html.substring(0, 45);
    	if (truncate != html){
    		truncate = truncate + "...";
    	}
    	$(this).html(truncate);
    })
    </script>
}

<div class="container chat-signin">
    <div class="row">
        <h2 class="form-signin-heading">Active rooms</h2>
                        
            @import models.Video
            @args List<Video> videos
            @for (Video v:videos) 
            {
                <form class="chat-signin">
                    <div class="col-xs-18 col-sm-6 col-md-3">
                      <div class="thumbnail">
                        <img src="@v.getPoster()" class="img-responsive" style="height:none !important;" alt="@v.getTitle()" width="260" height="380">
                          <div class="caption">
                            <a href="/video/@v.getVideoId()">
                            <h4 class="videoTitle" style="height:40px;">@v.getTitle()</h4>
                            </a>
                            <p><button class="btn btn-info videoId" type="submit" data-value="@v.getVideoId()">Join</button></p>
                        </div>
                      </div>
                    </div>
                </form>
             }
      </div><!-- End row -->
      
    </div><!-- End container -->
 
    <div class="container chat-wrapper">
    	<div class="row">
    		<div class="col-md-12">
    			<form id="do-chat">
		            <h2 class="alert alert-primary"></h2>
		            <table id="response" class="table table-bordered table-responsive"></table>
		            <fieldset>
		                <div class="controls" style="position:fixed; bottom: 10px;">
		                    <input type="text" class="input-block-level" placeholder="Your message..." id="message" style="height:40px"/>
		                    <input type="submit" class="btn btn-primary"
		                        value="Send message" />
		                    <button class="btn" type="button" id="leave-room">Leave
		                        room</button>
		                </div>
		            </fieldset>
		        </form>	
    		</div>
    	</div>
    </div>
