@extends(../logged_in.html)

@set(title = "FrameBuff: Discuss")

@section("jslinks")
{
    <script src="/js/chat.js"></script>    
}

<div class="container chat-signin">
    <div class="row">
        <h2 class="form-signin-heading">Active rooms</h2>
                        
            @import models.Video
            @args List<Video> videos
            @for (Video v:videos) 
            {
                <form class="chat-signin">
                    <div class="col-xs-18 col-sm-6 col-md-3">
                      <div class="thumbnail">
                        <img src="http://placehold.it/500x300" alt="">
                          <div class="caption">
                            <h4 class="videoTitle">@v.getTitle()</h4>
                            <p>Movie Description</p>
                            <p><button class="btn btn-info videoId" type="submit" data-value="@v.getVideoId()">Join</button></p>
                        </div>
                      </div>
                    </div>
                </form>
             }
      </div><!-- End row -->
      
    </div><!-- End container -->
 
    <div class="container chat-wrapper">
        <form id="do-chat">
            <h2 class="alert alert-success"></h2>
            <table id="response" class="table table-bordered"></table>
            <fieldset>
                
                <div class="controls" style="position:fixed; bottom: 10px;">
                    <input type="text" class="input-block-level" placeholder="Your message..." id="message" style="height:60px"/>
                    <input type="submit" class="btn btn-primary"
                        value="Send message" />
                    <button class="btn" type="button" id="leave-room">Leave
                        room</button>
                </div>
            </fieldset>
        </form>
    </div>
