<!DOCTYPE html>
<html lang="en">
<head>
<title>Discuss: Framebuff</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />   
<link type="text/css" rel="stylesheet" href="css/framebuff.css" />
</head>
 
<body>
 
    <div class="container chat-signin">
        <form class="form-signin">
            <h2 class="form-signin-heading">Chat sign in</h2>
            <div class="btn-group">
                <label for="chatroom">Chatroom</label> <select size="1"
                    id="chatroom">
                    
                    @import models.Video
                    @args List<Video> videos
                    @for (Video v:videos) {
                        <option value="@v.getVideoId()">@v.getTitle()</option>
                     }
                    
                </select>
            </div>
            <button class="btn btn-large btn-primary" type="submit"
                id="enterRoom">Sign in</button>
        </form>
    </div>
    <!-- /container -->
 
    <div class="container chat-wrapper">
        <form id="do-chat">
            <h2 class="alert alert-success"></h2>
            <table id="response" class="table table-bordered"></table>
            <fieldset>
                
                <div class="controls" style="position:fixed; bottom: 10px;">
                    <input type="text" class="input-block-level" placeholder="Your message..." id="message" style="height:60px"/>
                    <input type="submit" class="btn btn-primary"
                        value="Send message" />
                    <button class="btn" type="button" id="leave-room">Leave
                        room</button>
                </div>
            </fieldset>
        </form>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/chat.js"></script>
</body>
</html>