@extends(base.html)
@args String who
@section("navlinks") {
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><img class="img img-circle" src="#"></li>
            <li><a href="#">@who</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
}