@extends(base.html)
@args String who
@section("navlinks") 
{
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><img class="img img-circle" src="#"></li>
            <li><a id=userId href="#">@who</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a id="logout" href="#">Logout</a></li>
          </ul>
        </li>
}
@section("jslinks")
{
    <script>
    $.ajax({
    	url:"/getUser?userId=@who",
    	type: 'GET',
    	dataType: 'JSON',
    	success: function (data){
    		var username = data["username"];
    		$("#userId").html(username);
    		$("#userTitle").html("Hello "+data["firstName"]+"!");
    	}
    });
    
    $("#logout").click( function(event){
    	event.preventDefault();
    	$.ajax({
    		url: '/Logout',
    		type: 'GET',
    		success: function (data){
    			location.reload();
    		},
    		error: function (data){
    			location.reload();
    		}
    	});
    });
    </script>
}
@doLayout()