@extends(base.html)
@args String who
@section("navlinks") 
{
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a id=userId href="/user/@who">@who</a></li>
            <li><a href="/UpdateProfile">Update Profile</a></li>
            <li class="divider"></li>
            <li><a id="logout" href="#">Logout</a></li>
          </ul>
        </li>
}
@section("jslinks")
{
    <script src="/js/logged_in.js"></script>
    <script>
    $.ajax({
        url:"/getUser?userId=@who",
        type: 'GET',
        dataType: 'JSON',
        success: function (data){
            var username = data["username"];
            $("#userId").html(username);
            $("#userTitle").html("Hello "+data["firstName"]+"!");
        }
    });
    
    $(window).scroll(function() {
        if (  document.documentElement.clientHeight + 
              $(document).scrollTop() >= document.body.offsetHeight )
        { 
            
            var offset = $("#friends-updates").data("count");
            var last = $("#friends-updates").data("last");
            if (last != 0){
                $.ajax({
                    url: '/GetUpdate?userId=@who&offset='+offset,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(data){
                        var newoffset = data['offset'];
                        $("#friends-updates").data("last", newoffset);
                        $("#friends-updates").data("count", offset + parseInt(newoffset));
                        $("#friends-updates").append(data['content']);
                    }
                });
            }
        }
    });
    </script>
    @renderSection("jslinksvideo")
}

@doLayout()