@extends(../logged_in.html)

@import models.*

@args Video videoDetails
@args UserVideo userVideo

@set(title = videoDetails.getTitle())

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive img-thumbnail" src="@videoDetails.getPoster()" />
				</div>
				<div class="col-md-6">
					<h1>@videoDetails.getTitle()</h1>
					<div class="dropdown">
					  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
					    <span id="movie-user-status">
					    @{
					       String watch = null;
					       try{
					           watch = userVideo.getWatch();
					       } catch (Exception e){
					           watch = "Choose Action";
					       }
					     } 
					     @watch
					    </span>
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					      <li><a href="#" class="movie-status" data-value="watched">Watched</a></li>
					      <li><a href="#" class="movie-status" data-value="want">Want to watch</a></li>
					      <li><a href="#" class="movie-status" data-value="watching">Watching</a></li>
					  </ul>
					</div>
					<hr>
					<p>
						@videoDetails.getSynopsis()
					</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-success panel-zero">
						<div class="panel-heading panel-zero">
				    		<h3 class="panel-title">User Voice</h3>
				  		</div>
					  	<div class="panel-body">
					    	<div class="tabbable tabs-left">
							    <ul class="nav nav-tabs">
							        <li class="active">
							        	<a href="#trivia" data-toggle="tab">Trivia</a>
							        </li>
							        <li>
							            <a href="#fact" data-toggle="tab">Facts</a>
							        </li>
							    </ul>
							    <div class="tab-content">
							        <div class="tab-pane active" id="trivia">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                                    <div class="tab-pane" id="facts">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
							    </div>
							</div>
						</div>
				  	</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-success panel-zero">
						<div class="panel-heading panel-zero">
				    		<h3 class="panel-title">Team</h3>
				  		</div>
					  	<div class="panel-body">
					    	<div class="tabbable tabs-left">
							    <ul class="nav nav-tabs">
							        <li class="active">
							        	<a href="#cast" data-toggle="tab">Cast</a>
							        </li>
							        <li>
							        	<a href="#dandp" data-toggle="tab">Directors &amp; Producers</a>
							        </li>
							    </ul>
							    <div class="tab-content">
							        <div class="tab-pane active" id="cast">
							        @for(Actor actor: videoDetails.getActors()){
							         @actor.getPerson().getPersonName() as
							         @actor.getRoleName().toString()
							         <br>
							        }
							        </div>
							        <div class="tab-pane" id="dandp">
							        Director(s):
							        @for(Director director: videoDetails.getDirectors()){
							         @director.getPerson().getPersonName() <br>
							         } <br>
							         Producer(s):
							         @for(Producer producer: videoDetails.getProducers()){
							           @producer.getPerson().getPersonName() <br>
							           }
							        </div>
							     </div>
							</div>
						</div>
				  	</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			
			<div class="panel panel-success panel-zero" style="margin-top:20px;">
			  	<div class="panel-heading panel-zero">
			    	<h3 class="panel-title">User Ratings</h3>
			  	</div>
			  	<p>Overall Rating: <em id="userRating">@videoDetails.getUserRating()</em></p>
			  	<div class="panel-body">
				    	<div class="rating">
				    	    <span class="@if(userVideo.getRating() == 10){checked}"><input type="radio" name="rating" id="str10" value="10"><label for="str10"></label></span>
                            <span class="@if(userVideo.getRating() == 9){checked}"><input type="radio" name="rating" id="str9" value="9"><label for="str9"></label></span>
                            <span class="@if(userVideo.getRating() == 8){checked}"><input type="radio" name="rating" id="str8" value="8"><label for="str8"></label></span>
                            <span class="@if(userVideo.getRating() == 7){checked}"><input type="radio" name="rating" id="str7" value="7"><label for="str7"></label></span>
                            <span class="@if(userVideo.getRating() == 6){checked}"><input type="radio" name="rating" id="str6" value="6"><label for="str6"></label></span>
						    <span class="@if(userVideo.getRating() == 5){checked}"><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
						    <span class="@if(userVideo.getRating() == 4){checked}"><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
						    <span class="@if(userVideo.getRating() == 3){checked}"><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
						    <span class="@if(userVideo.getRating() == 2){checked}"><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
						    <span class="@if(userVideo.getRating() == 1){checked}"><input type="radio" name="rating" id="str1" value="1" ><label for="str1"></label></span>
						</div>
			  	</div>
			</div>
			<div>
				
					<a href="/Chat/@videoDetails.getVideoId()" class="btn btn-xlarge btn-success">Discuss!</a>
				
			</div>
			<br>
			<div class="panel panel-success panel-zero">
			  	<div class="panel-heading panel-zero">
			    	<h3 class="panel-title">About the Video</h3>
			  	</div>
			  	<div class="panel-body">
			    	<p>
				    	<strong>Runtime:</strong> @videoDetails.getRuntime()<br>
				    	<strong>Type:</strong> 
				    	 @{
				    	   Integer typeId = videoDetails.getType();
				    	   String type = null;
				    	   if (typeId == 1) {
				    	       type = "Movie";
				    	   }
				    	   else if (typeId == 2) {
				    	       type = "TV Show";
				    	   }
				    	   else if (typeId == 3){
				    	       type = "Other";
				    	    }
				    	 }
				    	 @type
				    	 <br>
				    	<strong>Language:</strong> @videoDetails.getLanguage()<br>
				    	<strong>Country:</strong> @videoDetails.getCountryCode()
			    	</p>
			    	<h3>
			    		@videoDetails.getCertification()
			    	</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

@section("jslinksvideo"){
    <script>
    var path = window.location.pathname;
    var videoId = path.split("/")[2];
    $(".movie-status").click(function (e){
    	e.preventDefault();
    	var status = $(this).data("value");
    	console.log(status);
    	$.ajax({
    		url: '/UserVideoStatus?status='+status+'&videoId='+videoId,
    		type: 'GET',
    		success: function (data){
    			 if (data.trim() != "INVALID"){
    				 $("#movie-user-status").html(status);
    			 }
    		}
    	});
    });

    </script>
}

