@extends(../base.html)

@set(title = "FrameBuff")
@args String who

@section("navlinks") {
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
	    <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
	        <li>
	            <div class="row">
	                <div class="col-md-12">
	                    <form class="form" role="form" method="post" action="" accept-charset="UTF-8" id="login-nav">
	                        <div class="form-group">
	                            <label class="sr-only" for="emailInput">Email address</label>
	                            <input type="text" class="form-control" name="emailInput" id="emailInput" placeholder="Email address" required>
	                        </div>
	                        <div class="form-group">
	                            <label class="sr-only" for="passwordInput">Password</label>
	                            <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Password" required>
	                        </div>
	                        <div class="checkbox">
	                            <label>
	                                <input type="checkbox"> Remember me
	                            </label>
	                        </div>
	                        <div class="form-group">
	                            <input type="submit" class="btn btn-success btn-block" value="Sign In"/>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
	            <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
	        </li>
	    </ul>
	</li>
}

<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<h1>Sign up for FrameBuff</h1>
			<hr>
			<form role="form" action="/signup" method="post">
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <label for="password2">Confirm Password</label>
			    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>

@section('jslinks'){
    <script src="/js/signup.js"></script>
}